#news {
  display: flex;
  // 見出しとdlを逆転させる
  flex-direction: row-reverse;

  dl {
    align-items: center;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    padding: 8vw 10vw 0 0;

    dt {
      padding: 1.5vw 3vw 1.5vw 0.5vw;
      border-right:solid 1px $black;
      font-size: 0.75rem;
    }

    dd {
      padding: 1.5vw 0 1.5vw 3vw;
      letter-spacing: 0.3rem;

      &:last-child {
        border-left:solid 1px $black;
      }
    }
  }
}